# Bootstrap
*~
.idea/
app/bootstrap*
app/config/parameters.yml

# Symfony directories
vendor/*
nbproject/*
var/sessions/dev/
var/sessions/prod/
*var/logs/*
*var/cache/*
*var/session/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/images/*

# Configuration files
app/config/parameters.ini

nbproject
.DS_Store
composer.lock
web/sym
composer.phar
