{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Գլխավոր Էջ{% endblock %}


{% block main %}

    <div class="page_container">


        <div class="main_content ">
            <!-- BEGIN content_for_index -->
            <div id="shopify-section-1548077438942" class="shopify-section index-section">


                <div class="section section_homepage section_slideshow_full_width section_slideshow__medium swiper-container"
                     id="slideshow_1548077438942" data-autoplay="false" data-speed="5000">
                    <div class="swiper-wrapper">


                        <div class="swiper-slide image_slide">

                            <div class="img_placeholder__wrap img_placeholder__medium"
                                 style="background-image: url( https://cdn.shopify.com/s/files/1/0821/7433/files/slide1_image_2048x600_crop_top.jpg?v=1548243248 );"></div>


                            <a class="slide_caption position_right" href="/collections/air-tools">

                                <div class="container">
                                    <div class="caption_text">
                                        <h2>Stihl</h2>
                                        <p>choose from a great selection</p>


                                        <div class="slider_circle">
                                            <div class="inside">
                                                <h3>$368</h3>
                                                <h5>20% OFF</h5>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </a>

                        </div>


                        <div class="swiper-slide image_slide">

                            <div class="img_placeholder__wrap img_placeholder__medium"
                                 style="background-image: url( https://cdn.shopify.com/s/files/1/0821/7433/files/slide2_image_2048x600_crop_top.jpg?v=1548244110 );"></div>


                            <a class="slide_caption position_right" href="/collections/construction">

                                <div class="container">
                                    <div class="caption_text">
                                        <h2>Bosch</h2>
                                        <p>DEWALT DCK955X 18-VOLT XRP CORDLESS</p>


                                        <div class="slider_circle">
                                            <div class="inside">
                                                <h3>$368</h3>
                                                <h5>20% OFF</h5>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </a>

                        </div>


                        <div class="swiper-slide image_slide">

                            <div class="img_placeholder__wrap img_placeholder__medium"
                                 style="background-image: url( https://cdn.shopify.com/s/files/1/0821/7433/files/slide3_image_2048x600_crop_top.jpg?v=1548244120 );"></div>


                            <a class="slide_caption position_right" href="/collections/air-tools">

                                <div class="container">
                                    <div class="caption_text">
                                        <h2>Dewalt</h2>
                                        <p>at ridiculously low prices</p>


                                        <div class="slider_circle">
                                            <div class="inside">
                                                <h3>$368</h3>
                                                <h5>20% OFF</h5>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </a>

                        </div>


                        <div id="pagination_1548077438942" class="swiper_pagination"></div>

                        <div id="slider_prev_1548077438942" class="swiper_btn swiper_btn__prev"></div>
                        <div id="slider_next_1548077438942" class="swiper_btn swiper_btn__next"></div>

                    </div>

                </div>


            </div>
            <div id="shopify-section-1548264971712"
                 class="shopify-section section section_homepage section_gallery_custom">


                <div class="section_gallery__4 style_1">


                    <div class="row galery_wrap">


                        <div class="col-xs-3 custom_showcase gallery_custom">
                            <div class="gallery_item">

                                <div class="img_placeholder__wrap img_placeholder__medium"
                                     style="background-image: url( //cdn.shopify.com/s/files/1/0821/7433/files/custom_showcase1_img.png?v=1548261901 );"></div>


                                <div class="item_caption ins">
                                    <div class="caption_text">

                                        <div class="page_heading"><p><strong>CORDLESS</strong></p>
                                            <p>tools</p></div>


                                        <p class="text_block">We assure you that our goods have a great number of
                                            advantages and it is very important for the customers.</p>


                                        <a class="btn gallery_btn" href="/collections/air-compressors">shop now!</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 custom_showcase gallery_custom">
                            <div class="gallery_item">

                                <div class="img_placeholder__wrap img_placeholder__medium"
                                     style="background-image: url( //cdn.shopify.com/s/files/1/0821/7433/files/custom_showcase2_img.png?v=1548261915 );"></div>


                                <div class="item_caption ins">
                                    <div class="caption_text">

                                        <div class="page_heading"><p><strong>ELECTRICIANS</strong></p>
                                            <p>TOOLS</p></div>


                                        <p class="text_block">The products of our store are the perfect combination of a
                                            real reliability and durability.</p>


                                        <a class="btn gallery_btn" href="/collections/air-compressors">shop now!</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 custom_showcase gallery_custom">
                            <div class="gallery_item">

                                <div class="img_placeholder__wrap img_placeholder__medium"
                                     style="background-image: url( //cdn.shopify.com/s/files/1/0821/7433/files/custom_showcase3_img.png?v=1548261922 );"></div>


                                <div class="item_caption ins">
                                    <div class="caption_text">

                                        <div class="page_heading"><p><strong>Power</strong></p>
                                            <p>TOOLS</p></div>


                                        <p class="text_block">You know that nowadays we have faced with the problem of
                                            fakes. It is so easy to become a victim of cheaters.</p>


                                        <a class="btn gallery_btn" href="/collections/electrical">shop now!</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 custom_showcase gallery_custom">
                            <div class="gallery_item">

                                <div class="img_placeholder__wrap img_placeholder__medium"
                                     style="background-image: url( //cdn.shopify.com/s/files/1/0821/7433/files/custom_showcase4_img_6657f54a-497f-4130-b667-0135c580d580.png?v=1548326452 );"></div>


                                <div class="item_caption ins">
                                    <div class="caption_text">

                                        <div class="page_heading"><p><strong>Hand</strong></p>
                                            <p>TOOLS</p></div>


                                        <p class="text_block">It is so easy to become a victim of cheaters.</p>


                                        <a class="btn gallery_btn" href="/collections/construction">shop now!</a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <div id="shopify-section-1548336186156"
                 class="shopify-section section section_homepage section_custom-content">
                <div class="container">

                    <div class="section_heading"><p><strong>WELCOME</strong>&nbsp;TO OUR STORE!</p></div>


                    <div class="row">


                        <div class="col-xs-12 col_item item_2_1">
                            <div class="custom_content__item item_text">

                                <div class="item_text item_text__left">


                                    <div class="item_text__content"><p>The products of our store are the perfect
                                            combination of a real reliability and durability. We assure you that our
                                            goods have a great number of advantages and it is very important for the
                                            customers. Our products are the real bestsellers because they have numerous
                                            devoted clients all over the country and as you know - those positive
                                            testimonials are the best advertising. This fact proves that our company
                                            takes the leading place among the competing ones. We assure you that our
                                            goods have a great number of advantages and it is very important for the
                                            customers. Our products are the real bestsellers because they have numerous
                                            devoted clients all over the country and as you know - those positive
                                            testimonials are the best advertising.</p></div>

                                </div>


                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <div id="shopify-section-1548077834316"
                 class="shopify-section section section_homepage section_products-carousel">
                <div class="carousel_wrap container">

                    <h2 class="section_heading">Featured products</h2>


                    <div class="products_carousel " id="products_carousel_1548077834316" data-products="10"
                         data-rows="2" data-dir="2">
                        <div class="swiper-container swiper_1">
                            <div class="swiper-wrapper product_listing__main">


                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/black-and-decker-20v-max-lithium-ion-8-inch-chain-saw">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/black_and_decker_ss12c_12-volt_cordless_drill_driver_1_270x270_crop_center.png?v=1432741482"
                                                     alt="Black and Decker 20V Max Lithium Ion 8-Inch Chain Saw">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/black_and_decker_ss12c_12-volt_cordless_drill_driver_2_270x270_crop_center.png?v=1432741482"
                                                     alt="Black and Decker 20V Max Lithium Ion 8-Inch Chain Saw"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$265.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/black-and-decker-20v-max-lithium-ion-8-inch-chain-saw">Black
                                                    and Decker 20V Max Li...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">But our vendors and manufactures
                                                guarantee the highest quality of our products. There is no doubt...</p>
                                            <p class="product_desc product_desc__long">But our vendors and manufactures
                                                guarantee the highest quality of our products. There is no doubt that we
                                                are the leading company in this sphere. We observe only branded
                                                commodities policy. You can buy the premium quality goods at a fair
                                                price. Our company cares about the clients and never lets them down. We
                                                are the constant participants of different social and technological
                                                researches. Keep saving your money with our store!</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010643265"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/black-and-decker-20v-max-lithium-ion-8-inch-chain-saw"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/crescent-ctk70mp-70-piece-mechanics-tool-set-with-storage-case">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/crescent_ctk70mp_70-piece_mechanics_tool_set_with_storage_case_1_270x270_crop_center.png?v=1432741501"
                                                     alt="Crescent CTK70MP 70-Piece Mechanics Tool Set with Storage Case">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/crescent_ctk70mp_70-piece_mechanics_tool_set_with_storage_case_2_270x270_crop_center.png?v=1432741501"
                                                     alt="Crescent CTK70MP 70-Piece Mechanics Tool Set with Storage Case"/>


                                                <span class="product_badge new">new!</span>


                                                <span class="product_badge sale">sale!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money money_sale">$100.00</span>


                                                    <span class="money">$78.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/crescent-ctk70mp-70-piece-mechanics-tool-set-with-storage-case">Crescent
                                                    CTK70MP 70-Piece M...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">You can buy the premium quality
                                                goods at a fair price. Our company cares about the clients and ne...</p>
                                            <p class="product_desc product_desc__long">You can buy the premium quality
                                                goods at a fair price. Our company cares about the clients and never
                                                lets them down. We are the constant participants of different social and
                                                technological researches. Our goods have a great number of different
                                                useful and functional options. The products of our store are
                                                well-designed and very user-friendly. We are always in touch with the
                                                latest fashion and hi-tech tendencies.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010650817"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/crescent-ctk70mp-70-piece-mechanics-tool-set-with-storage-case"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/custom-leathercraft-1134-tool-backpack-48-pocket.html">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/custom_leathercraft_1134_tool_backpack_48-pocket_1_270x270_crop_center.png?v=1432741514"
                                                     alt="Custom Leathercraft 1134 Tool Backpack, 48-Pocket">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/custom_leathercraft_1134_tool_backpack_48-pocket_2_270x270_crop_center.png?v=1432741514"
                                                     alt="Custom Leathercraft 1134 Tool Backpack, 48-Pocket"/>


                                                <span class="product_badge new">new!</span>


                                                <span class="product_badge sale">sale!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money money_sale">$450.00</span>


                                                    <span class="money">$420.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/custom-leathercraft-1134-tool-backpack-48-pocket">Custom
                                                    Leathercraft 1134 To...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">We are the constant participants
                                                of different social and technological researches. Our goods have...</p>
                                            <p class="product_desc product_desc__long">We are the constant participants
                                                of different social and technological researches. Our goods have a great
                                                number of different useful and functional options. The products of our
                                                store are well-designed and very user-friendly. We are always in touch
                                                with the latest fashion and hi-tech tendencies. If you want to know more
                                                information you can address our superb online 24/7 support system. We
                                                observe only branded commodities policy.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010657217"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/custom-leathercraft-1134-tool-backpack-48-pocket"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change" href="/products/dewalt-bare-tool-dw059b">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_bare-tool_dw059b_1_270x270_crop_center.png?v=1432741520"
                                                     alt="DEWALT Bare-Tool DW059B">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_bare-tool_dw059b_2_270x270_crop_center.png?v=1432741520"
                                                     alt="DEWALT Bare-Tool DW059B"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$170.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-bare-tool-dw059b">DEWALT Bare-Tool DW059B</a>

                                            </p>


                                            <p class="product_desc product_desc__short">Our goods have a great number of
                                                different useful and functional options. The products of our sto...</p>
                                            <p class="product_desc product_desc__long">Our goods have a great number of
                                                different useful and functional options. The products of our store are
                                                well-designed and very user-friendly. We are always in touch with the
                                                latest fashion and hi-tech tendencies. If you want to know more
                                                information you can address our superb online 24/7 support system. We
                                                have a great number of different promos and you can get a pretty good
                                                discount. Keep saving your money with our store!</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010662273"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn" href="/products/dewalt-bare-tool-dw059b"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/dewalt-dc970k-2-18-volt-drill-driver-kit">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dc970k-2_18-volt_drill_driver_kit_1_270x270_crop_center.png?v=1432741527"
                                                     alt="DEWALT DC970K-2 18-Volt Drill Driver Kit">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dc970k-2_18-volt_drill_driver_kit_2_270x270_crop_center.png?v=1432741527"
                                                     alt="DEWALT DC970K-2 18-Volt Drill Driver Kit"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$320.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-dc970k-2-18-volt-drill-driver-kit">DEWALT
                                                    DC970K-2 18-Volt Dri...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">The products of our store are
                                                well-designed and very user-friendly. We are always in touch with
                                                t...</p>
                                            <p class="product_desc product_desc__long">The products of our store are
                                                well-designed and very user-friendly. We are always in touch with the
                                                latest fashion and hi-tech tendencies. If you want to know more
                                                information you can address our superb online 24/7 support system. We
                                                have a great number of different promos and you can get a pretty good
                                                discount. Keep saving your money with our store! You know that nowadays
                                                we have faced with the problem of fakes.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010665153"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/dewalt-dc970k-2-18-volt-drill-driver-kit"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>


                            </div>

                            <div class="carousel_1_prev"></div>
                            <div class="carousel_1_next"></div>
                        </div>

                        <div class="swiper-container swiper_2">
                            <div class="swiper-wrapper product_listing__main">


                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/dewalt-dw1169-14-piece-pilot-point-twist-drill-bit-assortment">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw1169_14-piece_pilot-point_twist_drill_bit_assortment_1_270x270_crop_center.png?v=1432741534"
                                                     alt="DEWALT DW1169 14-Piece Pilot-Point Twist Drill Bit Assortment">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw1169_14-piece_pilot-point_twist_drill_bit_assortment_2_270x270_crop_center.png?v=1432741534"
                                                     alt="DEWALT DW1169 14-Piece Pilot-Point Twist Drill Bit Assortment"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$265.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-dw1169-14-piece-pilot-point-twist-drill-bit-assortment">DEWALT
                                                    DW1169 14-Piece Pilo...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">We are always in touch with the
                                                latest fashion and hi-tech tendencies. If you want to know more i...</p>
                                            <p class="product_desc product_desc__long">We are always in touch with the
                                                latest fashion and hi-tech tendencies. If you want to know more
                                                information you can address our superb online 24/7 support system. We
                                                have a great number of different promos and you can get a pretty good
                                                discount. Keep saving your money with our store! The products of our
                                                store are the perfect combination of a real reliability and durability.
                                                It is so easy to become a victim of cheaters.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010667905"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/dewalt-dw1169-14-piece-pilot-point-twist-drill-bit-assortment"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/dewalt-dw2153-impact-ready-accessory-set">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw2153_impact_ready_accessory_set_1_270x270_crop_center.png?v=1432741540"
                                                     alt="DEWALT DW2153 Impact Ready Accessory Set">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw2153_impact_ready_accessory_set_2_270x270_crop_center.png?v=1432741540"
                                                     alt="DEWALT DW2153 Impact Ready Accessory Set"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$315.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-dw2153-impact-ready-accessory-set">DEWALT
                                                    DW2153 Impact Ready ...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">If you want to know more
                                                information you can address our superb online 24/7 support system. We
                                                ha...</p>
                                            <p class="product_desc product_desc__long">If you want to know more
                                                information you can address our superb online 24/7 support system. We
                                                have a great number of different promos and you can get a pretty good
                                                discount. Keep saving your money with our store! The products of our
                                                store are the perfect combination of a real reliability and durability.
                                                We assure you that our goods have a great number of advantages and it is
                                                very important for the customers.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010670785"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/dewalt-dw2153-impact-ready-accessory-set"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/dewalt-dw4890-15-piece-reciprocating-saw-blade-tough-case-set">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw4890_15-piece_reciprocating_saw_blade_tough_case_set_1_270x270_crop_center.png?v=1432741547"
                                                     alt="DEWALT DW4890 15-Piece Reciprocating Saw Blade Tough Case Set">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw4890_15-piece_reciprocating_saw_blade_tough_case_set_2_270x270_crop_center.png?v=1432741547"
                                                     alt="DEWALT DW4890 15-Piece Reciprocating Saw Blade Tough Case Set"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$459.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-dw4890-15-piece-reciprocating-saw-blade-tough-case-set">DEWALT
                                                    DW4890 15-Piece Reci...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">We have a great number of
                                                different promos and you can get a pretty good discount. Keep saving
                                                yo...</p>
                                            <p class="product_desc product_desc__long">We have a great number of
                                                different promos and you can get a pretty good discount. Keep saving
                                                your money with our store! The products of our store are the perfect
                                                combination of a real reliability and durability. We assure you that our
                                                goods have a great number of advantages and it is very important for the
                                                customers. These processes are very widespread and even big companies’
                                                reputation could suffer because of fakes.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010673665"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/dewalt-dw4890-15-piece-reciprocating-saw-blade-tough-case-set"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change"
                                               href="/products/dewalt-dw715-15-amp-12-inch-compound-miter-saw">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw715_15-amp_12-inch_compound_miter_saw_1_270x270_crop_center.png?v=1432741553"
                                                     alt="DEWALT DW715 15-Amp 12-Inch Compound Miter saw">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw715_15-amp_12-inch_compound_miter_saw_2_270x270_crop_center.png?v=1432741553"
                                                     alt="DEWALT DW715 15-Amp 12-Inch Compound Miter saw"/>


                                                <span class="product_badge new">new!</span>


                                                <span class="product_badge sale">sale!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money money_sale">$150.00</span>


                                                    <span class="money">$119.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-dw715-15-amp-12-inch-compound-miter-saw">DEWALT
                                                    DW715 15-Amp 12-Inch...</a>

                                            </p>


                                            <p class="product_desc product_desc__short">Keep saving your money with our
                                                store! The products of our store are the perfect combination of a...</p>
                                            <p class="product_desc product_desc__long">Keep saving your money with our
                                                store! The products of our store are the perfect combination of a real
                                                reliability and durability. We assure you that our goods have a great
                                                number of advantages and it is very important for the customers. Our
                                                products are the real bestsellers because they have numerous devoted
                                                clients all over the country and as you know - those positive
                                                testimonials are the best advertising.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010675201"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn"
                                                   href="/products/dewalt-dw715-15-amp-12-inch-compound-miter-saw"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change" href="/products/dewalt-dw920k-2">
                                                <img class="img__1"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw920k-2_1_270x270_crop_center.png?v=1432741559"
                                                     alt="DEWALT DW920K-2">

                                                <img class="img__2"
                                                     src="https://cdn.shopify.com/s/files/1/0821/7433/products/dewalt_dw920k-2_2_270x270_crop_center.png?v=1432741559"
                                                     alt="DEWALT DW920K-2"/>


                                                <span class="product_badge new">new!</span>


                                            </a>
                                        </div>

                                        <div class="product_info">
                                            <div class="product_prop">
                                                <p class="product_price">


                                                    <span class="money">$420.00</span>


                                                </p>

                                                <p class="product_color"></p>
                                            </div>

                                            <p class="product_name">

                                                <a href="/products/dewalt-dw920k-2">DEWALT DW920K-2</a>

                                            </p>


                                            <p class="product_desc product_desc__short">We observe only branded
                                                commodities policy. You can buy the premium quality goods at a fair
                                                price...</p>
                                            <p class="product_desc product_desc__long">We observe only branded
                                                commodities policy. You can buy the premium quality goods at a fair
                                                price. Our company cares about the clients and never lets them down. We
                                                are the constant participants of different social and technological
                                                researches. Our goods have a great number of different useful and
                                                functional options. The products of our store are well-designed and very
                                                user-friendly.</p>


                                            <div class="product_links">
                                                <form method="post" action="/cart/add" class="add_to_cart_form">


                                                    <input type="hidden" name="id" value="3010677185"/>
                                                    <button class="btn-cart" type="submit"><i
                                                                class="fa fa-shopping-cart"></i><span>Add to cart</span>
                                                    </button>


                                                </form>


                                                <a class="wishlist_btn wishlist_add_login" href="/pages/wishlist"
                                                   title="Add to the wishlist"><i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i></a>


                                                <a class="quick_view_btn" href="/products/dewalt-dw920k-2"
                                                   title="Quick view"><i class="fa fa-search-plus"
                                                                         aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>


                            </div>

                            <div class="carousel_2_prev"></div>
                            <div class="carousel_2_next"></div>

                        </div>

                        <div id="carousel_swiper__prev_1548077834316"
                             class="swiper_btn swiper_btn__prev swiper_2row"></div>
                        <div id="carousel_swiper__next_1548077834316"
                             class="swiper_btn swiper_btn__next swiper_2row"></div>

                    </div>


                </div>


            </div>
            <div id="shopify-section-1548077926698"
                 class="shopify-section section section_homepage section_image-with-text-overlay">


                <div class="section_wrap flexible_block__medium parallax_block">

                    <div class="img_placeholder__wrap img_placeholder__medium parallax_layer"
                         style="background-image: url( https://cdn.shopify.com/s/files/1/0821/7433/files/custom_bottom_bg_2048x1100_crop_top.jpg?v=1548344778 );"></div>


                    <div class="section_txt align_center full_width">
                        <div class="container">
                            <div class="caption_text ">


                                <div class="row">

                                    <div class="wow col-sm-6 custom_bottom">
                                        <a class="inner_block" href="/collections/air-compressors">
                                            <i class="fa fa-dropbox"></i>
                                            <div class="custom_bottom_caption">
                                                <h3>SSL CERTIFICATE</h3>
                                                <p>If the website has an SLL certificate, this means that the owners
                                                    care about your shopping experience being secure, safe and sound and
                                                    want to make sure that all the data (including financial) that you
                                                    enter on our website will be securely encrypted!</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="wow col-sm-6 custom_bottom">
                                        <a class="inner_block" href="/collections/electrical">
                                            <i class="fa fa-thumbs-o-up"></i>
                                            <div class="custom_bottom_caption">
                                                <h3>MULTIPLE GATEWAYS</h3>
                                                <p>When we were considering which payment gateways to use on our
                                                    website, the choice narrowed down to 5 most universal ones: Visa;
                                                    MasterCard; PayPal; Discover; Stripe.</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="wow col-sm-6 custom_bottom">
                                        <a class="inner_block" href="/collections/commercial-trucking">
                                            <i class="fa fa-truck"></i>
                                            <div class="custom_bottom_caption">
                                                <h3>24/7 CUSTOMER SUPPORT</h3>
                                                <p>Also, it is comforting to know that should you experience any kind of
                                                    technical bump in the road during the checkout process, you can
                                                    always address our customer support department with your billing
                                                    questions!</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="wow col-sm-6 custom_bottom">
                                        <a class="inner_block" href="/collections/air-tools">
                                            <i class="fa fa-shield"></i>
                                            <div class="custom_bottom_caption">
                                                <h3>CAN I TRACK MY ORDER?</h3>
                                                <p>We rely on a global network of shipping partners (UPS, FedEx, DHL) as
                                                    well as local postal services (USPS) to get your order to your
                                                    doorstep as soon as possible.</p>
                                            </div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div id="shopify-section-1548411112577"
                 class="shopify-section section section_homepage section_blog-articles">

                <div class="container ">

                    <div class="section_heading"><p><strong>FROM</strong> THE BLOG</p></div>


                    <div class="row">

                        <div class="col-xs-12   ">
                            <div class="article_item flexible_block flexible_block__ ">
                                <div class="layer_1">

                                    <div class="img_placeholder__wrap img_placeholder__small"
                                         style="background-image: url( https://cdn.shopify.com/s/files/1/0821/7433/articles/bosch_hdh181-01_holesaw._V162566454_570x320_crop_center.jpg?v=1548069784 );"></div>

                                </div>

                                <div class="layer_2">

                                    <p class="article_date">
                                        <span class="article_day">11</span>
                                        April
                                    </p>

                                    <p class="article_info">
                                        <span><time class="article_time" datetime="2017-04-11T04:45">Apr.11, 2017</time></span>

                                    </p>

                                    <p class="article_title"><a
                                                href="/blogs/news/our-company-cares-about-the-clients-and-never-lets-them-down">Our
                                            company cares about the clients and never lets them down...</a></p>

                                    <p class="article_content">
                                        Our company cares about the clients and never lets them down. We are the
                                        constant participants of different social and technological researches. Our
                                        goods have a great number of different useful and functional options. The
                                        products of our store are...
                                    </p>


                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 item_2  ">
                            <div class="article_item flexible_block flexible_block__ ">
                                <div class="layer_1">

                                    <div class="img_placeholder__wrap img_placeholder__small"
                                         style="background-image: url( https://cdn.shopify.com/s/files/1/0821/7433/articles/PS_Concrete_masonry_saw_Stihl_ts500i_1_570x320_crop_center.jpg?v=1548069796 );"></div>

                                </div>

                                <div class="layer_2">

                                    <p class="article_date">
                                        <span class="article_day">11</span>
                                        April
                                    </p>

                                    <p class="article_info">
                                        <span><time class="article_time" datetime="2017-04-11T04:44">Apr.11, 2017</time></span>

                                    </p>

                                    <p class="article_title"><a
                                                href="/blogs/news/our-goods-have-a-great-number-of-different-useful-and-functional-options">Our
                                            goods have a great number of different useful and functional...</a></p>

                                    <p class="article_content">
                                        The products of our store are well-designed and very user-friendly You can buy
                                        the premium quality goods at a fair price. Our company cares about the clients
                                        and never lets them down. We are the constant participants of different
                                        social...
                                    </p>


                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
            <div id="shopify-section-1548078072525" class="shopify-section section section_newsletter">
                <div class="index_newsletter_wrapper" style="background-color: #59ad35">

                    <div class="container main_newsletter">
                        <div class="item__newsletter ">
                            <h3>Newsletter</h3>


                            <form method="post" action="/contact#contact_form" id="newsletter_form"
                                  accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type"
                                                                                     value="customer"/><input
                                        type="hidden" name="utf8" value="✓"/>
                                <p class="alert alert-success">You have successfully subscribed!</p>
                                <p class="form_text"></p>                            <input type="hidden"
                                                                                            name="contact[tags]"
                                                                                            value="Newsletter subscriber">
                                <div class="form_wrapper"><input type="email" name="contact[email]"
                                                                 class="input-group__field newsletter__input"
                                                                 placeholder="Enter your email">
                                    <button class="btn" type="submit"><i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="footer_social_wrapper wow">
                            <ul class="footer_social">
                                <li><a href="https://twitter.com/zemezlab"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/zemezlab/"><i class="fa fa-facebook"></i></a></li>


                            </ul>
                        </div>
                    </div>


                </div>


            </div><!-- END content_for_index -->

        </div>
{% endblock %}