

<ul class="address-box">
    <li>
        <span>Адрес	:</span>
        <p>{{ info.address }}</p>
    </li>
    <li>
        <span>Телефон	:</span>
        <p>{{ info.phone }}</p>
    </li>
    <li>
        <span>Электронная почта	:</span>
        <p><a href="#">{{ info.email }}</a></p>
    </li>
</ul>